.grid_menu_section {
  margin-top: 4rem;
  color: black;
}

.grid_menu_section h1 {
  font-size: 2.5rem;

}

.grid_menu_section .grid_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem 2rem;
  gap: 2rem;
}

.grid_menu_section .grid_menu .grid_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 15rem;
  font-size: larger;
  font-weight: 500;
  text-align: center;
  color: black;
  border: 1px solid greenyellow;
}

.grid_menu_section .grid_menu .grid_menu_item div img {
  height: 8rem;
  width: 8rem;
}