.grid_menu_section {
  position: relative;
  margin-top: 4rem;
  color: black;
  margin-left: 5%;
  margin-bottom: 6rem;
}

.grid_menu_section h1 {
  font-size: 2.5rem;

}

.grid_menu_section .grid_menu {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2%;
}

.grid_menu_section .grid_menu .grid_menu_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15rem;
  font-size: larger;
  font-weight: 500;
  text-align: center;
  color: black;
  border: 1px solid rgb(109, 138, 67);
}

.grid_menu_section .grid_menu .grid_menu_item div img {
  height: 8rem;
  width: 8rem;
}

.bestsellers_list {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20rem;
  touch-action: pan-y; /* Prevent scroll conflicts */
  margin-bottom: 5rem;
  background-color: rgb(188, 229, 229);
}

.bestsellers_list .bestsellers_switch {
  display: flex;
  justify-self: center;
}

.bestsellers_list .slider_section {
 position: relative;
 margin-top: 0;
 height: 15rem;
 margin-bottom: 3rem;
 padding: 0;
}

.bestsellers_list .slider_section .bs_slider {
  width: auto;
  height: 100%;
  display: flex;
  margin: 0 2.5% 0 2.5%;
  cursor: grab; 
}

.bestsellers_list .slider_section .bs_slider:active {
  cursor: grabbing; 
}

.bestsellers_list .slider_section .bs_slider .bs_slide {
  width: 32%;
  height: 100%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 0;
}

.bestsellers_list .slider_section .bs_slider .bs_slide img {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 2rem;
}

.bestsellers_list .slider_section .slider_button {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100%;
  width: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(66, 64, 64, 0.9);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.bestsellers_list .slider_section .slider_button:hover {
  background:rgb(25, 24, 24, 1);
  transition: all 0.3s ease-in-out;
}

.bestsellers_list .slider_section .slider_button .text {
  font-size: 1.5rem;
  transition: all 0.3 ease-in-out;
}

.bestsellers_list .slider_section .slider_button:hover .text {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.bestsellers_list .slider_section .slider_button:active .text {
  font-size: 2.5rem;
}

.bestsellers_list .slider_section .slider_button:first-of-type {
  left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.bestsellers_list .slider_section .slider_button:last-of-type {
  right: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}