.portraits_section .portrait {
    width: 99vw;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 2rem;
    border: 0.2rem solid crimson;
}

.portraits_section .portrait .image {
    height: 36rem;
    width: 28rem;
}

.portraits_section .portrait .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portraits_section .portrait .comments {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 60vh;
    overflow-y: scroll;
}

.portraits_section .portrait .comments_box .comments .comment {
    background-color: cadetblue;
    padding: 1rem;
}

.portraits_section .portrait .comments_box .add_button {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 2rem;
    background-color: aquamarine;
}